@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.pixel-fnt {
  font-family: "VT323", Arial, Helvetica, sans-serif;
}
.pixel-size-s {
  font-size: 16px;
}
.pixel-size-m {
  font-size: 22px;
}
.pixel-size-l {
  font-size: 28px;
}